* {
    margin: 0;
}

#canvas-container {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("https://images5.alphacoders.com/491/thumb-1920-491120.png");
    background-repeat: no-repeat;
    padding-bottom: 100vh;
}

#game {
    background-color: rgba(0, 0, 0, 0.8);
    border: 3px solid #59CFEE;
    border-radius: 5px;
    margin: auto;
    display: block;
}