* {
    background-color: black;
    z-index: 1;
}

#canvas-container {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
}

#game {
    border: 1px solid #59CFEE;
    margin: auto;
    display: block;
    z-index: 3;
}
  